@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

/* reset start  */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* reset end  */
:root {
	--green: #06c167;
	--black: #1d1d1f;
	--gray: rgba(29, 29, 31, 0.75);
}

.text-regular {
	font-size: 16px;
	font-weight: 400;
	color: rgba(29, 29, 31, 0.75);
	margin: 10px 0px;
}

.text-mini {
	font-size: 14px;
	font-weight: 500;
}

.text-large {
	font-size: 18px;
	font-weight: 400;
}

.btn {
	width: 200px;
	height: 68px;
	background-color: var(--green);
	border: none;
	color: rgba(255, 255, 255, 1);
	margin: 20px 0px;
	transition: 0.3s ease-out;
}

.btn::after {
	content: "-->";
	margin-left: 10px;
	font-weight: 900;
}

.btn:hover {
	background-color: #06c167d0;
	cursor: pointer;
}

.mx-130 {
	margin: 130px 130px;
}

.px-130 {
	padding: 0px 130px;
}

body {
	font-family: "Inter", sans-serif;
	min-height: 100vh;
}

/* navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: rgba(243, 252, 247, 1);
	height: 50px;
	z-index: 99;
}

.navlist a {
	text-decoration: none;
	color: var(--black);
	padding: 10px 15px;
	border: none;
	position: relative;
	transition: 0.3s;
}

.navlist a::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	border-radius: 50%;
	background-color: var(--green);
}

.navlist a:hover,
.navlist a.active {
	color: var(--green);
}

.navlist a:hover::after,
.navlist a.active::after {
	color: #06c167;
	height: 6px;
	width: 6px;
}

.logo {
	color: var(--green);
	font-size: 32px;
	font-weight: 500;
}

/* hero section  */
.hero-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: rgba(243, 252, 247, 1);
	position: relative;
}

.h1 {
	font-size: 75px;
	font-weight: 600;
	line-height: 90.77px;
}

.hero-left {
	max-width: 550px;
}

.brand-logos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
	position: absolute;
	bottom: -60px;
}

.hero-right {
	position: relative;
	bottom: -100px;
}

.hero-right img:last-child {
	position: absolute;
	top: 230px;
	right: -40px;
}

.hero-right img:first-child {
	position: absolute;
	top: 300px;
	left: -90px;
}

/* services */
.services {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid rgba(112, 112, 112, 0.3);
	border-bottom: 2px solid rgba(112, 112, 112, 0.3);
	padding: 50px 0px;
}

.service {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.service p:last-child {
	color: var(--gray);
}

/* benifits secton  */
.benefits {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.banner-img {
	background-color: rgba(243, 250, 251, 1);
	padding: 0px 48px 95px;
}

.h2 {
	font-size: 60px;
	font-weight: 500;
	line-height: 72.61px;
	max-width: 550px;
}

.rel {
	position: relative;
}

.benefit-header img {
	position: absolute;
	left: -55px;
	top: 55px;
	z-index: -1;
}

.benefit-list {
	margin-top: 78px;
}

ul {
	padding-left: 0px;
}

ul li {
	list-style-type: none;
	position: relative;
	padding-left: 25px;

	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.36px;
	text-align: left;
	margin: 20px 0px;
}

ul li::before {
	content: "\f00c";
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	position: absolute;
	left: 0;
	top: 0;
	color: #06c167;
}

/* stats section  */
.stat-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.stat-left {
	max-width: 550px;
}

.stat-header img {
	position: absolute;
	left: -55px;
	top: 55px;
	z-index: -1;
}

.stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 65px;
}

.stat-number {
	font-family: Inter;
	font-size: 40px;
	font-weight: 600;
	line-height: 48.41px;
	text-align: left;
	color: var(--green);
}

.stat p:last-child {
	color: rgba(29, 29, 31, 0.5);
}

/* .stat-container img {
	position: absolute;
	right: 0;
} */

.feature-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.feature-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: fit-content;
	margin: auto;
	margin-top: 40px;
}

.feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	outline: 2px solid var(--green);
}

.feature-details {
	background-color: rgba(243, 250, 251, 1);
	width: 292px;
	height: 292px;
	padding: 40px;
}

.feature-details * {
	margin-top: 20px;
}

.feature-title {
	font-size: 32px;
	font-weight: 500;
	line-height: 38.73px;
}

.btn-small {
	background-color: rgba(230, 249, 240, 1);
	color: var(--green);
	gap: 0px;
	opacity: 0px;
	font-size: 15px;
	width: 148px;
	height: 42px;
}

.btn-small:hover {
	color: white;
}

/* popular products */
.popular-products {
	text-align: center;
}

.popular-products h2 {
	margin: auto;
	margin-bottom: 64px;
}

.product-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.prev-price {
	text-decoration: line-through;
	padding-right: 10px;
}

.current-price {
	color: var(--green);
	font-weight: 900;
}

.btn-unfilled {
	background-color: white;
	color: var(--green);
	border: 2px solid var(--green);
}

.btn-unfilled:hover {
	color: white;
}

.product * {
	margin: 10px auto;
}

.product p:first-child {
	color: black;
}

.product {
	border: 2px solid var(--green);
	padding: 20px;
}

/* footer banner  */
.footer-banner img {
	margin: auto;
}

.footer-banner h2 {
	color: white;
	font-size: 60px;
	line-height: 72.61px;
	text-align: center;
	margin-bottom: 30px;
}

.footer-banner .banner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 100px;
	width: 100%;
}

/* footer  */
.footer-div {
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 16px;
}

.footer h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 29.05px;
	text-align: left;
	margin-bottom: 41px;
}

.footer a {
	text-decoration: none;
	color: inherit;
}

.foodies {
	grid-area: foodies;
}

.about {
	grid-area: about;
}

.company {
	grid-area: company;
}

.get-in-touch {
	grid-area: get-in-touch;
}

.copyright {
	grid-area: copyright;
}

.footer {
	display: grid;
	grid-template-columns: repeat(6, minmax(150px, 1fr));

	grid-template-areas: "	foodies	foodies	about company get-in-touch get-in-touch	";
}

.copyright {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -100px;
}

.social-links a {
	padding-right: 20px;
	font-size: 24px;
}

.email input {
	height: 50px;
	background-color: rgba(240, 241, 236, 1);
	border: none;
	padding: 20px;
}

.btn-subscribe {
	border: none;
	background-color: var(--green);
	color: white;
	height: 50px;
	cursor: pointer;
}

.btn-subscribe:hover {
	opacity: 0.7;
}